{{>header}}
<div class="bg-gray-800 text-white text-center h-full py-5 px-5">
  <div class="w-full text-xl">Report System</div>
  <div class="flex">
    {{#if isAuthenticated }}
    <a href="/dashboard"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto">Dashboard</a>
    <a href="/logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto">Logout</a>
    {{else}}
    <a href="/login" class="mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto">Login or Sign
      Up</a>
    {{/if}}
  </div>
  </div>
</div>
{{>footer}}