{{>header}}
  <h2>Welcome to</h2>
  <h1>Report System</h1>
  <a href="/login">Login</a>
  <hr>
  {{#if isAuthenticated }}
    <a href="/dashboard">Dashboard</a>
    <a href="/profile/{{user.nickname}}">Profile</a>
    <a href="/logout">Logout</a>
  {{/if}}
{{>footer}}