{{>header}}
{{#if error }}
  <p>{{error.message}}</p>
{{/if}}
  <h2>Welcome to</h2>
  <h1>Report System</h1>
  <hr>
  {{#if isAuthenticated }}
    <a href="/dashboard">Dashboard</a>
    <a href="/profile/{{user.nickname}}">Profile</a>
    <a href="/reports/">Reports</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login or Sign Up</a>
  {{/if}}
{{>footer}}