{{> header }}
    <div class="ui raised very padded text container segment">
      <h1 class="ui dividing header">Register</h1>
      <form action="/register" method="post" class="ui form">
        <div class="field">
          <input type="text" name="username" min="3" id="username" required />
          <label for="username">Username</label>
        </div>

        <div class="field">
          <input type="password" name="password" id="password" />
          <label for="password">Password</label>
        </div>
        <div class="field">
          <label for="role">Role</label>
          <div class="ui fluid dropdown selection">
            <select name="role" id="role">
              <option class="item" value="">Role</option>
              <option class="item" value="admin">Admin</option>
              <option class="item" value="user">User</option>
            </select>
            <i class="dropdown icon"></i>
            <div class="default text">Role</div>
            <div class="menu transition hiddden" tabindex="-1">
              <div class="item" data-value="Admin">Admin</div>
              <div class="item" data-value="User">User</div>
            </div>
          </div>
        </div>
        <button type="submit" class="ui button">Submit</button>
      </form>
      {{! @todo Add jquery and send request with ajax }}
    </div>
    <script type="text/javascript">
      {{!-- Initialize Semantic UI dropdown --}}
      $('.dropdown.selection').dropdown();
    </script>
{{> footer}}