{{>header}}
{{#if message }}
<p>{{ message }}</p>
{{/if}}

<a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/reports/create">New
    Report</a>
<a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
    href="/dashboard">Dashboard</a>
<ul class="reports_list">
    {{#each reports}}
    <div class="card">
        <h1><b>Title: </b>{{this.title}}</h1>
        <p><b>Body:</b> {{this.body}}</p>
        <span><a href="/reports/{{this.id}}">View</a></span>
    </div>
    <hr>
    {{/each}}
</ul>
{{>footer}}