{{>header}}
<div class="container">
  <h1>Create new report</h1>
  <form action="/reports" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="...title goes here">
    <label for="body">Body</label>
    <textarea name="body" id="body" cols="30" rows="10" placeholder="...report body goes here"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
{{>footer}}