{{>header}}
    <h1>You're looking at: <span><code>Single Report Page</code></span></h1>
    {{!-- Haven't tested this below --}}
    <h2>Report Title:</h2>
    <span>{{report.title}}</span>
    <h3>Report Body:</h3>
    <p>{{report.body}}</p>

    <a href="/reports/delete/{{report.id}}">Delete</a>
    <a href="/reports/update/{{report.id}}">Update</a>
{{>footer}}