{{> header }} 
    <h1>Dashboard</h1>
    <div>
        {{#if user}}
            <code>Welcome {{user.username}}!!</code>
        {{/if}}

        {{#if error}}
            <code>Some kind of error</code>
        {{/if}}

        
    </div>
{{> footer}}