{{> header }}
<div class="p-5 bg-gray-200 h-full">
    {{#if error}}
    <code>{{error}}</code>
    {{/if}}
    {{#if user}}
    <div>
        <p>Here you will see how many reports have been posted by you, how approved many approved reports, and a
            Chart.js graph</p>
        <code>Welcome {{user.email}}!</code>
        <p>Reports published by you: </p>
    </div>
    {{/if}}
</div>
{{> footer}}