{{> header }}
<h1>Dashboard</h1>
<div>
    {{#if user}}
    <div>
        <p>This works... {{user.nickname}}</p>
        <code>Welcome {{user.email}}!</code>
    </div>

    <a href="/reports">Reports</a>
    <a href="/logout">Logout</a>
    {{/if}}

    {{#if error}}
    <code>{{error}}</code>
    {{/if}}
</div>
{{> footer}}