{{> header }}
<h1>User profile for {{user.email}}</h1>
<a href="/dashboard">Dashboard</a>
<a href="/reports">Reports</a>
{{#if }}
{{isSingleProfile}}
{{!-- Render Single profile --}}
{{else}}
{{!-- Render all profiles --}}
{{/if}}
{{> footer }}